<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
  <section class="column">
    <section class="row center">
      <app-logo></app-logo>
    </section>
    <section class="row center">
      <input pInputText formControlName="username" placeholder="username" type="text">
    </section>
    <section class="row center">
      <input pInputText formControlName="password" placeholder="password" type="password">
    </section>
    <section class="row center">
      <a id="register-link" [routerLink]="['/register']">register</a>
    </section>
    <section class="row center">
      <button pButton [disabled]="loginForm.invalid" label="login" type="submit"></button>
    </section>
  </section>
</form>
