<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
  <section class="column">
    <section class="row center">
      <app-logo></app-logo>
    </section>
    <section class="row center">
      <input pInputText formGroupName="username" placeholder="username" type="text">
    </section>
    <section class="row center">
      <input pInputText formGroupName="password" placeholder="password" type="password">
    </section>
    <section class="row center">
      <a id="register-link" [routerLink]="['/register']">register</a>
    </section>
    <section class="row center">
      <button pButton type="submit" [disabled]="loginForm.invalid">login</button>
    </section>
  </section>
</form>
